.u-section-1 {
  background-image: url("default-image.jpg");
  background-position: 50% 5.48%;
  background-size: 215%;
}

.u-section-1 .u-sheet-1 {
  min-height: 126px;
}

.u-section-1 .u-text-1 {
  animation-duration: 1000ms;
  font-size: 2.25rem;
  width: 564px;
  margin: 43px auto 42px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 104px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 80px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 60px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 38px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    width: 340px;
  }
}.u-section-2 {
  background-image: url("default-image.jpg");
}

.u-section-2 .u-sheet-1 {
  min-height: 702px;
}

.u-section-2 .u-form-1 {
  height: 126px;
  margin: 30px 145px 0 195px;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 600;
}

.u-section-2 .u-image-1 {
  width: 379px;
  height: 434px;
  margin: 40px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 579px;
  }

  .u-section-2 .u-form-1 {
    margin-right: 45px;
    margin-left: 95px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 443px;
  }

  .u-section-2 .u-form-1 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 332px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 644px;
  }

  .u-section-2 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    height: 360px;
    margin-top: 30px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}